.footer {
    bottom: 0;
    width: 100%;
    background-color: #302e2e; /*#003464; */
    padding-top: 36px;
    color: #ddd;
    padding-bottom: 18px;
    font-size: 10px;
}

.footer .copyright{
    font-size: 90%;
}


.footer li a{
    color: #dfdfdf;
    font-size: 80%;
    text-decoration: none;
}

.footer .footer-titulo{
    font-size: 90%;
}

.footer li{
    font-size: 100%;
    margin-bottom: 8px;
}


@media screen and (max-width: 768px) {
    .footer {
        bottom: 0;
        font-size: 70%;
    }
    
    .copyright{
        font-size: 0.7rem;
    }
    
    
    .footer li a{
        color: #dfdfdf;
        font-size: 0.6rem;
        text-decoration: none;
    }

    .footer svg{
        font-size: 0.7rem;
    }
    
    .footer h6{
        font-size: 0.8rem;
    }
    
    .footer li{
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

}