
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,400&display=swap');

:root{
    --bg-idi-color: #0F0F0F;
    --bg-fit-color: #2F2F2F;
    --bg-ccbb-color: #274276;
    --bg-materia-color: #365CA8;
    --bg-atribuye-color: #8FD680;
    --bg-contribuye-color: #d4d24f;
    --azul-upa: #003464;
    --fondo: #F7F7F7;
}

* {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.masthead {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}


.black-overlay {
    display:-webkit-flex; /* Safari*/
    display: flex;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    align-items: center;
    
}

.tituloPrincipal {
    font-weight: 200;
    color: rgba(235, 230, 230, 0.8);/*#003464;*/
    margin-top: 20rem;
    margin-bottom: 2rem;
    max-width: 100%;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-align: center;

}

.tituloPrincipal h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.tituloPrincipal h2{
    font-size: 2rem;
    font-family:'Ubuntu', sans-serif
}

.textoJustificado {
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .tituloPrincipal h1 {
        font-size: 1rem;
    }

    .tituloPrincipal h2 {
        font-size: 1rem;
    }
}

.layout {
    background-color: var(--fondo);
    margin: 0 auto;
}

.content{
    background-color: var(--fondo);
}

.navbarColor{
    background-color: var(--fondo);
    
}

.navbarBrand{
    font-size: 2rem;
}


.navbarLink:hover{
    border-color: #b11b1b;
    text-decoration: none;
}


.navbar-light .navbar-nav .nav-link{
    color: #003464;
    font-weight: 400;
    padding-bottom: 8px;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    border-color: #003464;
    text-decoration: none;
    color: #003464
}

.cardImagen{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* border-radius: 0.5rem; */
    /* height: 15rem; */
    margin: 0.5rem;
}

.cardImagen img{
    border-radius: 0rem;
}

.image-container {
    text-align: center;
    margin: 15px 0;
}

.image-grid {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: minmax(1rem, auto);
    margin: 0 auto;
    max-width: 100%;
    padding: 0 3rem;
    width: 100%;
}

.image-item:nth-child(3){
    grid-column-end: span 2;
}

.image-item:nth-child(4){
     grid-row-start: 2;
     grid-column-end: span 3;
} 

.image-grid img:hover {
    transform: scale(1.1);
    transition: 0.6s all ease !important;
    cursor: pointer;
}

.image-zoom img:hover{
    transform: scale(1.1);
    transition: 0.6s all ease !important;
    cursor: pointer;
}

.image-contenedor{
    width: 100%;
    height: 100%;
    max-height: 15rem;
    display: flex;
    justify-content:center;
}

.image-escala{
    width: 40%;
}

.image-normal{
    width: 100%;
}

.subTitulo{
    border-bottom: 2px solid ;
    border-color: #003464;
    color: #003464;
}

.subTitulo h3{
    font-size: 2rem; 
}

.mapaCurricular-tarjeta{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgb(241, 242, 243);
}

.mapaCurricular-tarjeta h5{
    text-transform:uppercase;
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
}

.mapaCurricular-tarjeta .texto-contacto {
    text-transform: none;
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
}

.mapaCurricular-header {
    border-bottom: 2px solid;
    border-color: rgb(148, 150, 151);
    text-align: left;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}



.btn-materia{
    color: #c1c2c5;
    background-color: var(--bg-materia-color);
    border-color: var(--bg-materia-color);
    margin: 0.3rem 0.1rem;
    width: 100%;
    height: 4rem;
    font-size: 80%;
}

.btn-materia:hover{
    background-color: rgb(78 ,78, 78);
    border-color: rgb(78, 78 ,78);
}

.btn-idi {
    background-color: var(--bg-idi-color);  
    border-color: var(--bg-idi-color);
}

.btn-fit {
    background-color: var(--bg-fit-color);
    border-color: var(--bg-fit-color);
    
}

.btn-ccbb {
    background-color: var(--bg-ccbb-color);
    border-color: var(--bg-ccbb-color);
    
}

.btn-contribuye {
    background-color: var(--bg-atribuye-color);
    border-color: var(--bg-atribuye-color);
    color: black;
}

.btn-atribuye {
    background-color: var(--bg-contribuye-color);
    border-color: var(--bg-contribuye-color);
    color: rgb(0 ,0 ,0);
}

.btn-actual{
    background-color: red;
}

.btn-estadia{
    height: 90%;
    width: 140%;
}

.btn-ciclo{
    height: 100%;
    background-color: gray;
    display: none;
}


.modalObjetivo {
    font-size: 1.1rem;
    font-weight: 400;
    text-align:justify;

}



.modalObjetivo span {
    font-weight: 600;
}

ul li {
    margin-bottom: 0.5rem;
}

.no-bullet{
    list-style-type:disc;
}

.caja-atribucion{
    background-color: var(--bg-contribuye-color);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.caja-contribucion{
    background-color: var(--bg-atribuye-color);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.caja-actual{
    background-color: rgb(78, 78 ,78);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.columna-materia{
    margin: 0;
    padding: 0.1rem;
}

.txt-estadia{
    writing-mode:vertical-lr;
}

@media screen and (max-width: 1024px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 50%;
    }

    .btn-estadia{
        height: 90%;
        width: 140%;
    }
}

@media screen and (max-width: 768px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 30%;
    }

    .col-md .columna-materia p{
        font-size: 0.6rem;
    }

    .btn-estadia{
        height: 90%;
        width: 140%;
    }

    .txt-estadia{
        font-size: 0.6rem;
    }

    .card-title{
        font-size: 0.8rem;
    }
  
}

@media screen and (max-width: 767px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 90%;
    }

    .col-md .columna-materia p{
        font-size: 100%;
    }

    .btn-estadia{
        height: 60%;
        width: 100%;
    }

    .txt-estadia{
        font-size: 100%;
        writing-mode: horizontal-tb;
    }

}


.accordion-button {
    text-align: center;
    color:rgb(78 ,78, 78);
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion-button:hover{
    background-color: rgb(230, 230, 230);
    color: #003464;

}

.titulo-tabs > .nav-item > button{
    color: black;
    font-size: 1rem;
    border: none;
    font-weight: bold;
}


.titulo-tabs > .nav-item > button.active{
    color: var(--azul-upa);
    font-size: 1rem;
    font-weight: bold;
    background-color:transparent;
    border: none;
    border-bottom: 4px solid var(--azul-upa);
}

.titulo-tabs {
    border-bottom: 1px solid var(--azul-upa);
    
}

.titulo-tabs .nav-item{
    margin-bottom: 0;
    position: relative;
}

.titulo-tabs .nav-item .nav-link{
    font-size: 1.2rem;
}

.titulo-tabs .nav-item .nav-link::before{
    content: '';
    position: absolute;
    width:0;
    height:3px;
    background: var(--azul-upa);
    position:absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    
}

.titulo-tabs .nav-item .nav-link.active{
    border-bottom: 3px solid var(--azul-upa);
    font-size: 1.2rem;
  }
  
  .titulo-tabs .nav-item .nav-link:hover::before{
    left: 0;
    width: 100%;
  }
  
  .titulo-tabs .nav-item .nav-link.active::before{
    width: 0;
  }
  
  .tab-content div h4{
    font-weight: bold;
    color: var(--azul-upa);
  }

  .tab-general
  {
      font-size: 1.1rem;
      line-height: 2rem;
  }
  
  .titulo-tabs .tab-pane{
    display: block;
    position: relative;
    left: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .titulo-tabs .tab-pane.active{
    left: 0;
  } 

 .carrusel  img{
   
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
 }
 
 .general {
     background-color: rgb(218, 216, 216);
     /* margin-left: 0rem; */
     width: 100%;
 }

 .presentacion h4{
    /*background-color: red;*/
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
 }

 .presentacion p{
     font-size: 1.2rem;
 }

 .card-title{
    font-size: 1rem;
    font-weight: 400;
}


.liga-convocatoria{
    text-decoration: none;
}

.convocatoria-zoom{
    transition: 0.5s ease;
 	-moz-transition: 0.5s ease; /* Firefox */
 	-webkit-transition: 0.5s ease; /* Chrome - Safari */
 	-o-transition: 0.5s ease; /* Opera */
     border: 1px solid var(--fondo); 
     padding: 1rem;
     font-size: 1.2rem;
     font-weight: bold;
     color: var(--azul-upa);

     /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.convocatoria-zoom:hover{
    transform : scale(1.05);
	-moz-transform : scale(1.05); /* Firefox */
	-webkit-transform : scale(1.05); /* Chrome - Safari */
	-o-transform : scale(1.05); /* Opera */
	-ms-transform : scale(1.05); /* IE9 */
    color:var(--azul-upa)
}

.convocatoria{
    text-decoration: none;
     border: 1px solid var(--fondo); 
    border-radius: 10px;
    
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--azul-upa);     
      
      cursor: pointer;
}

.convocatoria:hover{
    color: var(--azul-upa); 
}

@media screen and (max-width: 720px) {
    .convocatoria{
        font-size: 0.8rem;
    }

}

.videoContainer{
    margin-top: 100px;
    display: grid;
}

.video{
    margin: 0 auto;
    width: 1000px;
    height: 564px;
}