
.tituloPrincipal {
    font-weight: 400;
    color: #003464;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
}

.tituloPrincipal h1{
    font-size: 1.5rem;
}

.tituloPrincipal h2{
    font-size: 1.7rem;
}

.textoJustificado {
    text-align: justify;
}

.layout {
    background-color: #efefef;
    margin: 0 auto;
}
.content{
    background-color: #efefef;
}
.testRow{
    background-color: red;

}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: 400;
    padding-bottom: 8px;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active{
    border-color: gray;
    text-decoration: none;
    color: gray
}