
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

:root{
    --bg-idi-color: #0F0F0F;
    --bg-fit-color: #2F2F2F;
    --bg-ccbb-color: #274276;
    --bg-materia-color: #365CA8;
    --bg-atribuye-color: #8FD680;
    --bg-contribuye-color: #d4d24f;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.masthead {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}


.black-overlay {
    display:-webkit-flex; /* Safari*/
    display: flex;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    align-items: center;
    
}

.tituloPrincipal {
    font-weight: 500;
    color: rgba(212, 206, 206, 0.8);/*#003464;*/
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-align: center;
}

.tituloPrincipal h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

.tituloPrincipal h2{
    font-size: 2rem;
    font-family:'Ubuntu', sans-serif
}

.textoJustificado {
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .tituloPrincipal h1 {
        font-size: 1rem;
    }

    .tituloPrincipal h2 {
        font-size: 1rem;
    }
}

.layout {
    background-color: #efefef;
    margin: 0 auto;
}
.content{
    background-color: #efefef;
}

.navbar-light .navbar-nav .nav-link{
    color: #003464;
    font-weight: 400;
    padding-bottom: 8px;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    border-color: #003464;
    text-decoration: none;
    color: #003464
}

.cardImagen{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* border-radius: 0.5rem; */
    /* height: 15rem; */
    margin: 0.5rem;
}

.cardImagen img{
    border-radius: 0rem;
}

.image-container {
    text-align: center;
    margin: 15px 0;
}

.image-grid {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: minmax(1rem, auto);
    margin: 0 auto;
    max-width: 100%;
    padding: 0 3rem;
    width: 100%;
}

.image-item:nth-child(3){
    grid-column-end: span 2;
}

.image-item:nth-child(4){
     grid-row-start: 2;
     grid-column-end: span 3;
} 

.image-grid img:hover {
    transform: scale(1.1);
    transition: 0.6s all ease !important;
    cursor: pointer;
}

.image-zoom img:hover{
    transform: scale(1.1);
    transition: 0.6s all ease !important;
    cursor: pointer;
}

.subTitulo{
    border-bottom: 2px solid ;
    border-color: #003464;
    color: #003464;
}

.subTitulo h3{
    font-size: 2rem; 
}

.mapaCurricular-tarjeta{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: rgb(241, 242, 243);
}

.mapaCurricular-tarjeta h5{
    text-transform:uppercase;
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
}

.mapaCurricular-tarjeta .texto-contacto {
    text-transform: none;
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
}

.mapaCurricular-header {
    border-bottom: 2px solid;
    border-color: rgb(148, 150, 151);
    text-align: left;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}



.btn-materia{
    color: #c1c2c5;
    background-color: var(--bg-materia-color);
    border-color: var(--bg-materia-color);
    margin: 0.3rem 0.1rem;
    width: 100%;
    height: 4rem;
    font-size: 80%;
}

.btn-materia:hover{
    background-color: rgb(78 ,78, 78);
    border-color: rgb(78, 78 ,78);
}

.btn-idi {
    background-color: var(--bg-idi-color);  
    border-color: var(--bg-idi-color);
}

.btn-fit {
    background-color: var(--bg-fit-color);
    border-color: var(--bg-fit-color);
    
}

.btn-ccbb {
    background-color: var(--bg-ccbb-color);
    border-color: var(--bg-ccbb-color);
    
}

.btn-contribuye {
    background-color: var(--bg-atribuye-color);
    border-color: var(--bg-atribuye-color);
    color: black;
}

.btn-atribuye {
    background-color: var(--bg-contribuye-color);
    border-color: var(--bg-contribuye-color);
    color: rgb(0 ,0 ,0);
}

.btn-actual{
    background-color: red;
}

.btn-estadia{
    height: 90%;
    width: 140%;
}

.btn-ciclo{
    height: 100%;
    background-color: gray;
    display: none;
}


.modalObjetivo {
    font-size: 1.1rem;
    font-weight: 400;
    text-align:justify;

}

.modalObjetivo span {
    font-weight: 600;
}

ul li {
    margin-bottom: 0.5rem;
}

.no-bullet{
    list-style-type:disc;
}

.caja-atribucion{
    background-color: var(--bg-contribuye-color);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.caja-contribucion{
    background-color: var(--bg-atribuye-color);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.caja-actual{
    background-color: rgb(78, 78 ,78);
    margin: 0 10px;
    overflow: hidden;
    padding: 1px 10px;
}

.columna-materia{
    margin: 0;
    padding: 0.1rem;
}

.txt-estadia{
    writing-mode:vertical-lr;
}

@media screen and (max-width: 1024px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 50%;
    }

    .btn-estadia{
        height: 90%;
        width: 140%;
    }
}

@media screen and (max-width: 768px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 30%;
    }

    .col-md .columna-materia p{
        font-size: 0.6rem;
    }

    .btn-estadia{
        height: 90%;
        width: 140%;
    }

    .txt-estadia{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 767px) {
    .btn-materia{
        margin: 0.2rem 0rem;
        height: 3rem;
        font-size: 90%;
    }

    .col-md .columna-materia p{
        font-size: 100%;
    }

    .btn-estadia{
        height: 60%;
        width: 100%;
    }

    .txt-estadia{
        font-size: 100%;
        writing-mode: horizontal-tb;
    }

}